@font-face {
  font-family: SourceSansPro-Regular;
  src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SourceSansPro-Ligtht;
  src: url('../assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
}